@import '../../shared/color.constants.scss';

.form {
    padding: 10px 50px 50px;
    max-width: 350px;

    &__row {
        margin: 15px 0; 
    }

    &__label {
        padding-bottom: 4px;
        color: $middle-grey-color;
        display: block;
    }

    &__value {
        width: 230px;
    }

    &__title {
        font-size: 18px;
        text-align: center;
    }

    &__error-message {
        margin-top: 10px;
        font-size: 14px;
        color: $error-color;
    }

    &__student-checkbox {
        display: inline-block;

        & ~ .form__label  {
            display: none;
        }

        & ~ .form__student-ticket {
            display: none;
        }

        &:checked {
            & ~ .form__label  {
                margin-top: 15px;
                display: block;
                color: $middle-grey-color;
            }

            & ~ .form__student-ticket  {
                display: block;
            }
        }
    }

    &__btn {
        margin-top: 10px;
    }
}