@import '../../shared/color.constants.scss';

.schedule {
    padding: 30px;
    background: $white-color;
    box-shadow: 10px 10px 10px $grey-color;
    min-height: 75vh;
    // max-height: 75vh;

    &-wrap {
        padding: 10px 30px;
        border: 2px solid $dark-primary-color;
        background: $light-grey-color; 
    }

    &-row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-height: 70vh;
        overflow-y: scroll;
    }
}

.filter {
    margin: 20px 30px;

    &__select {
        padding: 4px 5px;
        border-radius: 2px;
    }
}