<div class="container">
    <div class="schedule">
        <div class="schedule-row">
            <div class="schedule-col item">
                <div class="item__day">
                    Monday
                </div>
                <div class="item__events">
                    12.00-13.00 Футбол
                    <div>
                        <button class="book book_free">Записатись</button>
                        <button class="book book_no-place" disabled>Нема місць</button>
                    </div>
                </div>
            </div>
            <div class="schedule-col">
                1233
            </div>
        </div>
    </div>
</div>