<div class="schedule-wrap">
    <div class="container">
        <div class="schedule">
            <div class="schedule-row">
                <div class="schedule-col">
                    <app-schedule-item></app-schedule-item>
                </div>
                <div class="schedule-col">
                    <app-schedule-item></app-schedule-item>
                </div>
                <div class="schedule-col">
                    <app-schedule-item></app-schedule-item>
                </div>/div>
                +
                <div class="schedule-col">
                    <app-schedule-item></app-schedule-item>
                </div>
                <div class="schedule-col">
                    <app-schedule-item></app-schedule-item>
                </div>
                <div class="schedule-col">
                    <app-schedule-item [isAvailable]="false"></app-schedule-item>
                </div>
            </div>
        </div>
    </div>
</div>