@import '../../../shared/color.constants.scss';

.action-btn {
    padding: 10px 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: $white-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.available {
        &_border {
            color: $black-color;
            background: $white-color;
            border: 2px solid $book-btn-color;

            &:hover {
                border: 2px solid $book-btn-active-color;
            }
        }

        &_background {
            background: $book-btn-color;

            &:hover {
                background: $book-btn-active-color;
            }
        }
    }

    &.no-available {
        background: $grey-color;

        &:hover {
            background: $grey-color;
        }
    }
} 