@import '../../../app/shared/color.constants.scss';

.tickets-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.odd-row {
    background: $light-grey-color;
}