@import '../../../app/shared/color.constants.scss';

.tickets-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    // &:nth-child(odd) {
    //     background: red;
    // }
}

.odd {
    background: $light-grey-color;
}