@import '../../shared/color.constants.scss';

.personal-info {
    padding: 50px 100px;
    background: $white-color;
    box-shadow: 10px 10px 10px $grey-color;
    min-height: 75vh;

    &-wrap {
        padding: 10px 30px;
        border: 2px solid $dark-primary-color;
        background: $light-grey-color;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        margin: 0 5px;
        width: 100px;
    }

    &__btns {
        display: flex;
        justify-content: space-around;
    }
    
}

.row {
    padding: 10px 0;
    margin: 0;

    & span {
        padding-left: 10px;
    }
}

.form {
    &__row {
        margin: 4px 0;
    }
}

