$dark-grey-color: #292525;
$white-color: #ffffff;
$black-color: #000000;

$primary-color: #009688;
$light-primary-color: #87cfc9;
$dark-primary-color: #00796b;

$accent-color: #ffc107;
$dark-accent-color: #e3ac06;

$light-grey-color: #f2f2f2;
$grey-color: #bdbdbd;
$middle-grey-color: #767373;
$dark-grey-color: #3a3636;

$book-btn-color: #0d930d;
$book-btn-active-color: #077207;
$no-available-btn-color: #f34646;