

$dark-grey-color: #292525;
$white-color: #fff;

$primary-color: #009688;
$light-primary-color: #b2dfdb;
$dark-primary-color: #00796b;

$accent-color: #ffc107;

$light-grey-color: #f2f2f2;
$grey-color: #bdbdbd;
$dark-grey-color: #3a3636;

$book-btn-color: #0d930d;
$book-btn-active-color: #077207;
$no-available-btn-color: #f34646;