

$dark-grey-color: #292525;
$white-color: #fff;

$primary-color: #009688;
$light-primary-color: #B2DFDB;
$dark-primary-color: #00796B;

$accent-color: #FFC107;

$light-grey-color: #BDBDBD;
$dark-grey-color: #3a3636;