<div class="header-wrap">
    <div class="container">
        <div class="header">
            <div class="menu">
                <app-nav-menu *ngIf="isAuthenticated; else title"></app-nav-menu>
                <ng-template #title>
                    <div class="title">
                        KPI playground
                    </div>
                </ng-template>
            </div>
            <div class="user" (click)="navigateToLoginPage()">
                <i class="fa fa-user"></i>
            </div>
            <div class="user__login">
                {{ userLogin }}
            </div>
        </div>
    </div>
</div>