<div class="header-wrap">
    <div class="container">
        <div class="header">
            <div class="menu">
                <div *ngIf="isAuthenticated; else title">
                    <app-nav-menu></app-nav-menu>
                </div>
                <ng-template #title>
                    <div class="title">
                        KPI playground
                    </div>
                </ng-template>
            </div>
            <div class="user" *ngIf="isAuthenticated" 
                (click)="logOut()">
                <i class="fa fa-user"></i>
            </div>
            <div class="user__login">
                {{ userLogin }}
            </div>
        </div>
    </div>
</div>