@import '../../shared/color.constants.scss';

.header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $white-color;
    min-height: 65px;

    &-wrap {
        background: $primary-color;
    }
}

.menu {
    width: 90%;
}

.user {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:before {
        content: '';
        display: inline-block;
        margin: 3px -31px 0 0;
        background: $accent-color;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    &:hover:before {
        background: $dark-accent-color;
    }

    &__login {
        margin: 0 20px;
    }
}

.title {
    margin-right: 100px;
    font-size: 22px;
    color: $white-color;
}