<div class="header-wrap">
    <div class="container">
        <div class="header">
            <div class="menu">
                <div *ngIf="isAuthenticated; else title">
                    <app-nav-menu></app-nav-menu>
                </div>
                <ng-template #title>
                    <div class="title">
                        KPI playground
                    </div>
                </ng-template>
            </div>
            <div class="user" *ngIf="isAuthenticated">
                <div class="user__login">
                    {{ userLogin }}
                </div>
                <div class="user__logout">
                    <input type="checkbox" id="logout" hidden>
                    <label for="logout">
                        <i class="fa fa-sort-down logout-icon"></i>
                    </label>
                    <div class="logout-window">
                        <app-action-btn class="personal-info__btn" [availableMessage]="'Log Out'" (clicked)="logOut()">
                        </app-action-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>