<div class="form">
  <p class="form__title">Log in</p>
  <form [formGroup]="dynamicForm"> 
    <div class="form__row">
      <label for="login" class="form__label">Login ( Your Email )</label>
      <input type="text" 
        id="login" 
        class="form__value" 
        formControlName="login" 
        autocomplete="off"
        [(ngModel)]="user.login">
        <div *ngIf="isFormInvalid(dynamicForm, 'login')" class="error-message">
          <div *ngIf="dynamicForm?.controls['login']?.errors?.pattern">
            Not right login format
          </div>
          <div *ngIf="dynamicForm?.controls['login']?.errors?.required">
            * Login is obligatory field
          </div>
        </div>
    </div>
    <div class="form__row">
      <label for="password" class="form__label">Password</label>
      <input type="password" 
        id="password"  
        class="form__value"
        name="password"
        formControlName="password" 
        [(ngModel)]="user.password">
        <div *ngIf="isFormInvalid(dynamicForm, 'password')" class="error-message">
          <!-- <div *ngIf="dynamicForm?.controls['password']?.errors?.minlength" class="warning-message">
            Password must be at least 3 characters long.
          </div> -->
          <div *ngIf="dynamicForm?.controls['password']?.errors?.required">
            * Password is obligatory field
          </div>
        </div>
    </div>
    
    <app-action-btn 
      [availableMessage]="'Log in'"
      [noAvailableMessage]="'Log in'"
      (clicked)="login()" 
      [isAvailable]="dynamicForm.valid">
      <i *ngIf="isActionPerformed" class="spinner fa fa-spinner fa-spin"></i>
    </app-action-btn>
  </form>
</div>