@import '../../color.constants.scss';

.notification {
    margin: 2px auto;
    padding: 12px 20px;
    width: 330px;
    border-radius: 4px;
    border: 1px solid $white-color;
    box-shadow: 3px 4px 12px $dark-grey-color;
    // border: 1px solid $grey-color;
    color: $white-color;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    &-wrap {
        margin: 20px 0;
        width: 100%;
        position: absolute;
    }

    &__remove {
        color: $white-color;
        cursor: pointer;
    }

    &_info {
        background: $info-color;
    }

    &_success {
        background: $success-color;
    }

    &_error {
        background: $error-color;
    }
}